# Virtual environment
venv/

# Datasets
Crop_Disease_Detection/BajraLeaf/Bajra_dataset/
Crop_Disease_Detection/BottleGourdLeaf/BottleGourd_dataset/
Crop_Disease_Detection/BrinjalLeaf/Brinjal_dataset/
Crop_Disease_Detection/CauliflowerLeaf/Cauliflower_dataset/
Crop_Disease_Detection/MaizeLeaf/Maize_dataset/
Crop_Disease_Detection/RiceLeaf/Rice_dataset/

Irrigation_Scheduling/Irrigation_Data/
Yield_Prediction/Yield_Data/